html, body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    background-color: rgb(18, 18, 19);
    width: 100%;
    height: 100%;   
    align-items: center;
    flex-direction: column;
}

#game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(58, 58, 56);
}

#help, #stats {
    color: rgb(58, 58, 60);
    font-size: 1.5rem;
    cursor: pointer;
}

.title {
    color: gainsboro;
    font-size: 2.5rem;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#final-score {
    color: gainsboro;
    margin: 0;
    padding: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid rgb(58, 58, 60);
    min-width: 60px;
    min-height: 60px;
    font-size: 2rem;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-container {
    height: 200px;
    cursor: pointer;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 10px;
    touch-action: manipulation;
}

.keyboard-row button{
    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.enter-btn {
    flex-grow: 0.7;
    font-size: 0.75em;
}

.keyboard-row button.del-btn {
    flex-grow: 1.2;
}

.keyboard-row .spacer-half {
    flex-grow: 0.5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: rgb(18, 18, 19);
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    color: gainsboro;
    max-width: 500px;
}

.modal-content hr {
    border: 1px solid rgb(58, 58, 60);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#examples {
    width: 80%;
}